html, body
{
    font-family: "Winky Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 18px;

    margin: 0;
    padding: 0;

    background-color: var(--background);
    color: var(--text);
}

ul, ol { margin: 0; }

h1, h2, h3, h4, h5, h6
{
    font-weight: 400;
    margin: 0px;
}

h1
{
    font-size: 48px;
    color: var(--primary);
}

h2
{
    font-size: 32px;
    color: var(--secondary);
}

h3
{
    font-size: 24px;
    color: var(--tertiary);
}

form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.no-select
{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.icon
{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon.faint
{
    opacity: 50%;
    transition: opacity 0.2s ease;
}

.icon.faint:hover
{
    opacity: 100%;
}

.icon.help
{
    cursor: help;
    font-size: 12px;
}

.icon.click
{
    cursor: pointer;
    padding: 2px;
}

.inline-wrap
{
    display: flex;
    align-items: center;
}

.toolbar-button
{
    color: var(--tertiary);

    font-size: 18px;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    transition: 0.2s all ease;
}

.toolbar-button:hover:not(.disabled)
{
    color: var(--secondary);
    background-color: var(--paper-75);
}

.icon.disabled
{
    cursor: auto;
    color: var(--text-default-50);
}

label
{
    display: flex;
    align-items: center;
}

label i
{
    margin-left: auto;
    font-size: 16px;
}

hr
{
    width: calc(100% - 2rem);
    height: 4px;
    margin-top: 2px;
    margin: 0.5rem 1rem 0.5rem 1rem;

    background-color: var(--text-default-25);
    border: 0;

    border-radius: 4px;
    outline: none;
    box-shadow: none;
}

hr.left
{
    width: calc(100% - 1rem);
    margin-left: 0;
}

hr.full
{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

input, .input
{
    font-family: "Courier Prime", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    background-color: var(--paper-50);
    border: 2px solid var(--paper-75);
    padding: 4px;
    width: calc(100% - 14px);

    color: var(--accent);
}

input:focus, .input:focus-within
{
    border: 0;
    outline: none;
    outline-width: 0;
    background-color: var(--paper-75);
    border: 2px solid var(--primary);
}

.input-error
{
    color: var(--primary);
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.navbar
{
    height: 60px;
    width: 100%;

    top: 0;
    position: sticky;
    position: -webkit-sticky;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;

    z-index: 999;

    color: var(--text-default-50);
    background: var(--paper);
    font-size: 1.15rem;
    font-weight: 500;
    
    box-shadow: 0px 4px 4px var(--drop-shadow);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.navbar .left
{
    float: left;
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar .logo
{
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;

    height: 100%;

    display: flex;
    align-items: center;

    text-decoration: none;
    color: var(--primary);
    font-family: "Macondo", cursive;
    font-weight: 600;
    font-style: normal;

    margin-left: 1rem;
}

.navbar .logo img
{
    height: 60px;
    margin-right: 5px;
}

.navbar .menu
{
    display: flex;
    align-items: center;
    padding: 0;

    gap: 1rem;
    list-style: none;
    height: 100%;
}

.navbar li
{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    cursor: pointer;

}

.navbar li a
{
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.15s ease;
    padding: 0 1rem 0 1rem;
    position: relative;
}

.navbar li a::after
{
    position: absolute;
    content: "";
    top: 100%;
    left: 10%;
    width: 80%;
    height: 3px;
    background: var(--paper);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s, background 0.25s;
}

.navbar li:hover a,
.navbar .menu .dropdown li:hover a
{
    color: var(--text-default);
}

.navbar li:hover a::after,
.navbar .menu .dropdown li:hover a::after
{
    background: var(--primary);
    transform: scaleX(1);
    transform-origin: left;
}

.navbar .menu .dropdown
{
    position: absolute;
    bottom: 0;
    display: none;
}

.navbar .menu .dropdown li a
{
    color: var(--text-default-50);
}

.navbar .menu .dropdown li a::after
{
    background: var(--paper);
    transform: scaleX(0);
    transform-origin: right;
}

.navbar .menu .dropdown .dropdown-menu
{
    transition: max-height 0.15s cubic-bezier(0.55, 0.8, 0.68, 0.91), padding 0.25s cubic-bezier(0.55, 0.8, 0.68, 0.91);

    display: flex;
    position: absolute;
    align-items: start;

    top: 0;
    left: 0;
    
    flex-direction: column;
    overflow-y: hidden;

    list-style: none;
    gap: 1rem;
    padding: 0px;

    max-height: 0;

    background-color: var(--paper-75);
    box-shadow: 4px 4px 4px var(--drop-shadow);

    cursor: auto;
}

@media (min-width: 931px)
{
    .navbar .menu .dropdown
    {
        display: flex;
    }

    .navbar .menu .dropdown-button:hover .dropdown-menu
    {
        transition: max-height 0.65s cubic-bezier(0.55, 0.8, 0.68, 0.91), padding 0.25s cubic-bezier(0.55, 0.8, 0.68, 0.91);
        padding: 10px 0px 10px 0px;
        max-height: 550px;
    }
}

.nav-toggle
{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.nav-toggle .bar
{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--text);
    transition: all 0.3s ease-in-out;
}

.navbar .profile
{
    float: right;

    display: flex;
    align-items: center;
    text-align: center;

    list-style: none;
    height: 100%;

    padding-left: 1rem;
    padding-right: 2rem;
}

.navbar .profile li.login a
{
    color: var(--tertiary);
}

.navbar .profile li:hover.login a
{
    color: var(--secondary);
}

@media (max-width: 930px)
{
    .navbar .menu
    {
        display: none;
        flex-direction: column;
        align-items: center;

        gap: 1.7rem !important;
        position: absolute;
        height: calc(100vh - 83px);
        width: min(350px, 100vw);

        top: 83px;
        right: 0;
        margin: 0;
        padding: 30px 0px;
        border-left: 3px solid var(--primary);

        background-color: var(--background);
    }

    .navbar .menu.active
    {
        display: flex;
    }

    .nav-toggle
    {
        display: block;
        z-index: 999;
    }

    .nav-toggle.active .bar:nth-child(2)
    {
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1)
    {
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3)
    {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar .menu li.dropdown .dropdown-menu
    {
        position: static;
    }

    .navbar .menu li.dropdown.focused a
    {
        color: var(--text-accent);
        background-color: var(--primary);
    }

    .navbar .menu li.dropdown .dropdown-menu
    {
        width: min(350px, 100vw);
        border-right: 0;
        border-left: 0;
        padding-left: 0;
        padding-right: 0;
        background-color: var(--secondary);
    }

    .navbar .menu li.dropdown.focused .dropdown-menu
    {
        transition: max-height 0.65s cubic-bezier(0.55, 0.8, 0.68, 0.91), padding 0.25s cubic-bezier(0.55, 0.8, 0.68, 0.91), border 0.25s cubic-bezier(0.55, 0.8, 0.68, 0.91);
    
        border: 3px solid var(--primary);
        max-height: 550px;
        padding: 10px 0px 10px 0px;
    }
}